.header {
    nav {
        * {
            margin-right: 6px;
            text-decoration: none; 
        }
        .logo {
            margin-right: 24px;
        }
        padding: 12px;
        font-variant: small-caps;
    }
}